<%= form_for [:admin, @teacher] do |f| %>
  <%= render 'common/errors', resource: @teacher %>  

  <div class="field">
    <%= f.label :last_name, "Фамилия" %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name, "Имя" %>
    <%= f.text_field :first_name %>
  </div>

  <div>
   <%= f.file_field :photo %>
  </div>

  <div class="actions">
    <%= f.submit "#{@teacher.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>