<h1>Преподаватели</h1>

<table class= "table table-striped">
  <thead>
    <tr>

    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher|%>
      <tr>  
          <%= render partial: 'teachers/teacher', object: teacher  %>
          <td><%= link_to 'Редактировать', edit_admin_teacher_path(teacher) %> </td>
          <td><%= link_to 'Удалить', [:admin, teacher], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<%= link_to 'Новый преподаватель', new_admin_teacher_path %>
<br>
<%= link_to 'Основное меню', admin_welcome_index_path %>