<%= form_for [:admin, @student] do |f| %>
  <%= render 'common/errors', resource: @student %>

  <div class="field">
    <%= f.label :email, "Адрес электронной почты" %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :last_name, "Фамилия" %>
    <%= f.text_field :last_name %>
  </div>

  <div class="field">
    <%= f.label :first_name, "Имя" %>
    <%= f.text_field :first_name %>
  </div>

  <div class="actions">
    <%= f.submit "#{@student.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>