<h1>Ученики</h1>
  <h3>Поиск</h3>
  <br>
  <%= form_tag(admin_students_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Искать' %>
  <% end %>
  Введите фамилию ученика

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Фамилия</th>
      <th>Имя</th>
    </tr>
  </thead>

  <tbody>
    <%= render @students  %>
  </tbody>
</table>

<br>
<%= paginate @students %>
<br>
<%= link_to 'Новый ученик', new_admin_student_path %>
<br>
<%= link_to 'Основное меню', admin_welcome_index_path %>