<h2>Ученик</h2>
  <br>
  <strong>
    <%= @student.first_name %>
    <%= @student.last_name %>
   <br>
  <%=@student.email%>
  </strong>
  <br>
  <br>
  <table class= "table table-striped">
    <thead>
    <tr>
      <th>Записан на занятия</th>
    </tr>
  </thead>
    <%= render partial: 'lessons/lesson', collection: @student.lessons, as: :lesson %>
  </table>
  <br>
  <br>
<%= link_to 'Назад', admin_students_path %>