<%= form_for [:admin, @lesson] do |f| %>
  <%= render 'common/errors', resource: @lesson %>
  <div class="field">
    <%= f.label :style, "Направление" %>
    <%= f.text_field :style %>
  </div>

  <div class="field">
    <%= f.label :group, "Группа" %>
    <%= f.collection_select :group_id, Group.all, :id, :title, :include_blank => true %>
  </div>

  <div class="field">
      <%= f.label "Преподаватели" %>
      <%= f.collection_select :teacher_ids, Teacher.all, :id, :name, {}, { multiple: true }%>
    </div>
  <div class="field">
    <%= f.label :start_time, "Дата и время" %>
    <%= f.datetime_local_field :start_time %>
  </div>

  <div class="field">
    <%= f.label :duration, "Длительность" %>
    <%= f.text_field :duration %>
  </div>


  <div class="actions">
    <%= f.submit "#{@lesson.new_record? ? 'Создать' : 'Изменить' }" %>
  </div>
<% end %>