<h1>Занятия</h1>

<table class= "table table-striped">
  <thead>
    <tr>
      <%= render 'lessons/head' %>  
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson|%>
      <tr>  
          <%= render partial: 'lessons/lesson', object: lesson  %>
          <td><%= link_to 'Редактировать', edit_admin_lesson_path(lesson) %> </td>
          <td><%= link_to 'Удалить', [:admin, lesson], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<%= link_to 'Новый урок', new_admin_lesson_path %>
<br>
<%= link_to 'Основное меню', root_path %>