<%= render partial: 'lessons/show', object: @lesson  %>
  <br>
  <br>
  <strong>Записаны на занятие</strong>

  <table class= "table table-striped">
    <thead>
      <td>Фамилия</td>
      <td>Имя</td>
      <td>Записан админимтратором</td>
      <td>Занятие посетил</td>      
    </thead>
    <tbody>
      <% @list.each do |student, stud_les|%>
  		  <tr>
    		  <%= render partial: 'admin/students/student_item', locals: {student: student }%>
    		  <td> <%= stud_les.sign_by_admin ? "Да" : "Нет" %> </td>
          <td> <%= stud_les.presence ? "Да" : "Нет" %> </td>
          <td>   
            <%= form_tag(sign_out_done_admin_lesson_path , method: :delete ) do %>
    			 	<%= hidden_field_tag :student_id, student.id %>
    				<%= submit_tag 'Отменить запись', class: "btn btn-default" %>
  				<% end %> 
          </td>
          <% if stud_les.presence %>
          <td>
            <%= form_tag(student_not_present_admin_lesson_path,  method: :delete ) do %>
            <%= hidden_field_tag :student_lesson_id, stud_les.id %>
            <%= submit_tag 'Занятие не посетил', class: "btn btn-default" %>
          </td> 
          <% end %> 
          <% else%>
          <td>   
            <%= form_tag(student_present_admin_lesson_path,  method: :patch ) do %>
            <%= hidden_field_tag :student_lesson_id, stud_les.id %>
            <%= submit_tag 'Занятие посетил', class: "btn btn-default" %>
          </td>  
          <% end %> 
          <% end %>
  		  </tr>
      <%end%>
    </tbody>
  </table>
<br>

<%= link_to 'Записать', sign_admin_lesson_path(@lesson) %>   
<br>
<%= link_to 'Редактировать', edit_admin_lesson_path(@lesson) %> 
<br>
<%= link_to 'Назад', admin_lessons_path %>