<%= render partial: 'lessons/show', object: @lesson  %>
  <br>
  <br>
  <strong>Записаны на занятие</strong>

  <table class= "table table-striped">
    <%= render partial: 'admin/students/student', collection: @lesson.students, as: :student %>
  </table>
<br>
<%= link_to 'Записать', sign_admin_lesson_path(@lesson) %>   
<br>
<%= link_to 'Редактировать', edit_admin_lesson_path(@lesson) %> 
<br>
<%= link_to 'Назад', admin_lessons_path %>