
  <%= render 'common/errors', resource: @lesson %>

  <h2>Запись</h2>
   Занятие: <%= render partial: 'lessons/lesson', object: @lesson  %>
  <br>
  <h3>Поиск</h3>
  <br>
  <%= form_tag(sign_admin_lesson_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Искать' %>
  <% end %>
  Введите фамилию ученика
  
  <br>

  <table class= "table table-striped">
    <thead>
      <th>Фамилия</th>
      <th>Имя</th>
    </thead>

    <tbody>
      <%=render @students%>
    </tbody>
	</table>
<%= paginate @students %>

<%= link_to 'Назад', admin_lesson_path(@lesson) %>
