
  <%= render 'common/errors', resource: @lesson %>
  <%= render partial: 'lessons/lesson', object: @lesson  %>
  <table class= "table table-striped">
  	<thead>
    	<tr>
      	<th></th>
    	</tr>
  	</thead>

  <tbody>
    <% @students.each do |student|%>
      <tr>  
				<td> <%= student.first_name %></td>
				<td> <%= student.last_name %></td>
				<td>   
				<%= form_tag(sign_done_admin_lesson_path) do %>
    			<%= hidden_field_tag :student_id, student.id %>
    			<%= submit_tag 'Записать', class: "btn btn-default" %>
  				<% end %> 
  			</td>
      </tr>
    <%end%>
  </tbody>
	</table>


