
  <%= render 'common/errors', resource: @lesson %>

  <h2>Запись</h2>

   Занятие: <%= render partial: 'lessons/lesson', object: @lesson  %>


  <br>
  <h3>Поиск</h3>
  <br>
  <%= form_tag(sign_admin_lesson_path, method: :get) do %>
    <%= text_field_tag :term, params[:term] %>
    <%= submit_tag 'Искать' %>
  <% end %>
  Введите фамилию ученика

  <br>

  <table class= "table table-striped">
    <thead>
      <th>Фамилия</th>
      <th>Имя</th>
    </thead>

    <tbody>
      <%  @students.each do |student|%>
        <tr>  
				  <td> <%= student.first_name %></td>
				  <td> <%= student.last_name %></td>
				  <td>   
				  <%= form_tag(sign_done_admin_lesson_path, method: :patch) do %>
            <%= hidden_field_tag :student_id, student.id %>
            <%= submit_tag 'Записать', class: "btn btn-default" %>
          <% end %> 
  			 </td>
        </tr>
      <%end%>
    </tbody>
	</table>
<%= paginate @students %>

<%= link_to 'Назад', admin_lesson_path(@lesson) %>
