
  <td><%= link_to lesson.style, lesson %></td>
  <% if lesson.group %>
  	<td><%= link_to lesson.group.title, lesson.group %></td>
  <%end%>	
  <td><%= render partial: 'teachers/teacher_item', collection: lesson.teachers, as: :teacher %></td>
  <td><%= lesson.start_time.strftime("%F %T") %></td>
  <td><%= lesson.duration %></td>
  