
  <td><%= lesson.style %></td>
  <% if lesson.group %>
  	<td><%= lesson.group.title %></td>
  <%end%>	
  <td><%= render partial: 'teachers/teacher_item', collection: lesson.teachers, as: :teacher %></td>
  <td><%= lesson.start_time %></td>
  <td><%= lesson.duration %></td>
  