<strong>Направление:</strong>
  <%= @lesson.style %>
</p>
  
<p>
  <strong>Группа:</strong>
  <% if @lesson.group.present? %>
    <%= @lesson.group.title %>
  <% else%>
    Не регулярное.
  <% end %>
</p>

Преподаватели:
      <ul>
      <%= render partial: 'teachers/teacher_item', collection: @lesson.teachers, as: :teacher %>
    </ul>
  <br>
Дата и время начала: <%=@lesson.start_time.strftime '%d.%m.%Y %H:%M'%>
   <br> 
Дата и время окончания: <%=@lesson.end_time.strftime '%d.%m.%Y %H:%M'%> 
  <br>
Продолжительность: <%=@lesson.duration%> 
