<%= render partial: 'lessons/show', object: @lesson  %>
<br>
<br>
<% if @presence%>
  <strong>Вы записаны на этот урок</strong>
  <br>
  <br>
  <td><%= form_tag(sign_out_done_lesson_path, method: :delete, data: { confirm: 'Подтверждаете отмену записи?' }) do %>
    <%= submit_tag 'Отменить запись', class: "btn btn-default" %>
  <% end %> 
    </td>
<%else%>
  <td>  <%= form_tag(sign_done_lesson_path, method: :patch, data: { confirm: 'Подтверждаете запись?' }) do %>
    <%= submit_tag 'Записаться', class: "btn btn-default" %>
  <% end %> 
<%end%>
<br>

<%= link_to 'Назад', my_lessons_path %>
