<h1>Группы</h1>

<table class= "table table-striped">
  <thead>
    <tr>
      <th>Группы</th>

    </tr>
  </thead>

  <tbody>
    <% @groups.by_title.each do |group|%>
      <tr>  
          <%= render partial: 'groups/group', object: group  %>
          <td><%= link_to 'Редактировать', edit_admin_group_path(group) %> </td>
          <td><%= link_to 'Удалить', [:admin, group], method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <%end%>
  </tbody>
</table>

<%= link_to 'Новая группа', new_admin_group_path %>
<br>
<%= link_to 'Основное меню', admin_welcome_index_path %>