<% if user_signed_in? %>
    <span><%= " Привет, #{current_user.email}!" %></span> |
    <p>Пользователь: <%= current_user.email %> </p>
    <% if current_user.admin? %>
        <span><%= link_to "Админка", admin_welcome_index_path %></span> |
    <% end %>
    <%= link_to "Войти", destroy_user_session_path, method: :delete %>
<% else %>
    <%= link_to "Выйти", new_user_session_path %>
<% end %>